langchain[llms]==0.1.2
anthropic~=0.15.1
stanza~=1.5.0
openai~=1.12.0
typer~=0.4.1
pydantic~=1.10.8
loguru~=0.7.2
tqdm~=4.66.1
celery[redis]~=5.2.7
diff-match-patch
dnspython~=2.5.0
tiktoken~=0.4.0
readability_lxml
requests
numpy
-e file:./llm_interface
